{% extends "parleys_creek_management/base.html" %}

{% load staticfiles %}

{% block app_content %}
  <h1>Scenarios</h1>
  {% if paginator.count > 0 %}
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th colspan="2">Description</th>
        <th>Date</th>
        <th>Status</th>
        <th>Results</th>
        <th></th>
      </tr>

      {% for scenario in scenarios %}
        <tr id="{{ scenario.id }}">
          <td class="name" data-id="" style="vertical-align: middle;"><a href="{% url 'parleys_creek_management:workflow_summary' scenario_id=scenario.id %}">{{ scenario.name }}</a></td>
          <td colspan="2" class="description" data-id="" style="vertical-align: middle;">{% if scenario.description %}{{ scenario.description }}{% else %}<i>No Description</i>{% endif %}</td>
          <td class="created" data-id="" style="vertical-align: middle;">{{ scenario.last_updated|date:'d M Y H:i' }}</td>
          <td class="status" data-id="" data-status="{{ scenario.job_status }}" style="vertical-align: middle;">
            {% if scenario.job_status in statuses %}
              {{ scenario.job_status }}
            {% else %}
              <div class="job-percentage progress progress-striped active">
                <div class="bar" style="width: {{ scenario.percentage }}%;"></div>
              </div>
            {% endif %}
          </td>
          <td class="results" style="vertical-align: middle;">
            {% if scenario.results_link %}
                {# <a href="{% url 'pcmt-results-plot', scenario_id=scenario.id, plot_name='little-dell-volume', action='view') %}">View Results</a> #}
                IMPLEMENT LINK HERE
            {% endif %}
          </td>
          <td style="vertical-align: middle;">
            <div class="btn-toolbar pull-right" style="margin: 0;">
              {% if scenario.job_status == 'pending' %}
                <a class="btn btn-xs btn-success run-btn" href="javascript:void(0);" onclick="submitRunRequest({{ scenario.id }});">Run</a>
              {% elif 'error' in scenario.job_status %}
                <a class="btn btn-xs btn-success run-btn" href="javascript:void(0);" onclick="submitRunRequest({{ scenario.id }});">ReRun</a>
              {% endif %}
             <a class="btn btn-xs btn-default" href="{% url 'parleys_creek_management:workflow_summary' scenario_id=scenario.id %}">Clone</a>
             <a class="btn btn-xs btn-danger" href="{% url 'parleys_creek_management:jobs_delete' scenario_id=scenario.id %}">Delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="empty-message-container center-parent">
      <div class="centered"><h3 class="empty-message">There are no scenarios. Click on the "New" button to make one.</h3></div>
    </div>
  {% endif %}
  {% if paginator.num_pages > 1 %}
    <ul class="pager jobs-pager">
      <li class="previous pager-link {% if not scenarios.has_previous %}disabled{% endif %}">
        <a href="{% if scenarios.has_previous %}?page={{ scenarios.previous_page_number }}{% else %}javascript:void(0);{% endif %}">&larr; Previous</a>
      </li>
      <li class="next pager-link {% if not scenarios.has_next %}disabled{% endif %}">
        <a href="{% if scenarios.has_next %}?page={{ scenarios.next_page_number }}{% else %}javascript:void(0);{% endif %}">Next &rarr;</a>
      </li>
    </ul>
  {% endif %}
  {% block app_actions %}
  {% endblock %}
{% endblock %}

{# Clear the secondary block content #}
{% block secondary %}{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static 'parleys_creek_management/js/jobs.js' %}" type="text/javascript"></script>
{% endblock %}
