{% extends "parleys_creek_management/workflow_base.html" %}

{% load tethys_gizmos %}

{% block app_content %}
  <form id="input-form" class="form-horizontal" method="post">
    {% csrf_token %}
    <!-- Hidden input to identify the form -->
    <input type="text" name="form" value="demand" style="display: none;">

    <h3>Demand Rates</h3>
    <div style="min-height: 250px">
      {% for slider in demandSliders %}
        {% gizmo "range_slider" slider %}
      {% endfor %}
    </div>
  </form>
  <p class="muted">
	Use this page to change the monthly demand multipliers for the model. The
	multipliers chosen are applied to the monthly long-term average of demand
	for each month. This page can be used to test different scenarios
	such as conservation methods, population growth, land cover change, etc.
  </p>
{% endblock %}

{% block app_actions %}
  {% gizmo "button_group" next_btn %}
  {% gizmo "button_group" back_btn %}
  {% gizmo "button_group" cancel_btn %}
{% endblock %}
