{% extends "parleys_creek_management/workflow_base.html" %}

{% load tethys_gizmos %}

{% block app_content %}
  <form id="input-form" class="form-horizontal" method="post">
    {% csrf_token %}
    <h3>Reservoir Characteristics</h3>
    <div class="general-input-content row">
      <!-- Hidden input to identify the form -->
      <input type="text" name="form" value="general" style="display: none;">

      <div class="col-md-6">
        <h5>Mountain Dell</h5>
        <div class="col-reservoir-characteristics">
          {% gizmo "text_input" capacity_mt_input %}
          {% gizmo "text_input" init_mt_input %}
          {% gizmo "text_input" deadpool_mt_input %}
        </div>
      </div>
      <div class="col-md-6">
        <h5>Little Dell</h5>
        <div class="col-reservoir-characteristics">
          {% gizmo "text_input" capacity_ld_input %}
          {% gizmo "text_input" init_ld_input %}
          {% gizmo "text_input" deadpool_ld_input %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block help_content %}
  <p class="muted help-text">
      In this page, user can select and modify reservoirs characteristics,
      to design and test new infrastructure developments. Default values show
      existing properties of reservoirs.
  </p>
{% endblock %}

{% block app_actions %}
  {% gizmo "button_group" next_btn %}
  {% gizmo "button_group" back_btn %}
  {% gizmo "button_group" cancel_btn %}
{% endblock %}
