{% extends "parleys_creek_management/workflow_base.html" %}

{% load tethys_gizmos %}

{% block app_content %}
  <form id="input-form" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="scenario-input-content">
      <!-- Hidden input to identify the form -->
      <input type="text" name="form" value="scenario" style="display: none;">

      <h3>New Scenario</h3>
      {% gizmo "text_input" name_input %}
      <div class="form-group {% if description_error %}has-error{% endif %}">
        <label class="control-label" for="scenario_description">Description</label>
        <textarea name="scenario_description" class="form-control" style="resize: none;" rows="3">{{ scenario_description }}</textarea>
        {% if description_error %}<p class="help-block">{{ description_error }}</p>{% endif %}
      </div>

      {% gizmo "select_input" select_input %}
    </div>
  </form>
{% endblock %}

{% block help_content %}
  <p class="muted help-text">
	In this page user can name the modified scenarios in order to submit and
	send work for simulation. Moreover, predefined extreme climate scenarios
	are provided here, in order to test the system performance under future
	projections. If users want to run their own scenarios, it is recommended
	to use baseline period (historical period).
  </p>
{% endblock %}

{% block app_actions %}
  {% gizmo "button_group" next_btn %}
  {% gizmo "button_group" cancel_btn %}
{% endblock %}
