{% extends "page.html" %}

{% block styles %}
	{{ super() }}
	{% resource 'ckanapp_parleys_creek_management/css/parleys_creek_management_jobs.css' %}
{% endblock %}

{% block breadcrumb_content %}
  <li><a href="{% url_for 'apps' %}">Apps</a></li>
  <li><a href="{% url_for 'pcmt-root' %}">{{ 'Parleys Creek Management Tool' }}</a></li>
  <li class="active"><a href='#'>Scenarios</a></li>
{% endblock %}

{% block primary %}
	{% block page_primary_action %}
	<div class="btn-toolbar actions">
		<a class="btn" href="{% url_for 'pcmt-root'%}">Home</a>
		<a class="btn btn-success" href="{% url_for 'pcmt-new-scenario'%}">New</a>
	</div>
	{% endblock %}
	
	<div class="module" style="margin: 0;">
	  <div class="module-content" style="min-height: 503px;">
			<h3>Scenarios</h3>
			{% if c.page.item_count > 0 %}
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th colspan="2">Description</th>
					<th>Date</th>
					<th>Status</th>
					<th>Results</th>
					<th></th>
				</tr>
				{# 
			    This is a little trick that lets me use this as a template (c.scenarios)
			    or as a snippetn (scenarios) 
			    #}
			    
			    
				{% for scenario in c.page.items %}
				<tr id="{{ scenario.id }}">
					<td class="name" data-id="" style="vertical-align: middle;"><a href="{% url_for 'pcmt-workflow', action='summary', id=scenario.id%}">{{ scenario.name }}</a></td>
					<td colspan="2" class="description" data-id="" style="vertical-align: middle;">{% if scenario.description %}{{ scenario.description }}{% else %}<i>No Description</i>{% endif %}</td>
					<td class="created" data-id="" style="vertical-align: middle;">{{ scenario.last_updated.strftime('%d %b %Y %H:%M') }}</td>
					<td class="status" data-id="" data-status="{{ scenario.job_status }}" style="vertical-align: middle;">
						{% if scenario.job_status in ('pending', 'success', 'error') %}
							{{ scenario.job_status }}
						{% else %}
							<div class="job-percentage progress progress-striped active">
								<div class="bar" style="width: {{ scenario.percentage }}%;"></div>
							</div>
						{% endif %}
					</td>
					<td class="results" style="vertical-align: middle;">
						{% if scenario.results_link %}
						<a href="{{ h.url_for('pcmt-results-plot', id=scenario.id, plot_name='little-dell-volume', action='view')}}">View Results</a>
						{% endif %}
					</td>
					<td style="vertical-align: middle;">
						<div class="btn-toolbar pull-right" style="margin: 0;">
						 {% if scenario.job_status == 'pending' %}
						 <a class="btn btn-mini btn-success run-btn" href="javascript:void(0);" onclick="submitRunRequest({{ scenario.id }});">Run</a>
						 {% elif 'error' in scenario.job_status %}
						 <a class="btn btn-mini btn-success run-btn" href="javascript:void(0);" onclick="submitRunRequest({{ scenario.id }});">ReRun</a>
						 {% endif %}
						 <a class="btn btn-mini" href="{% url_for 'pcmt-workflow', action='clone', id=scenario.id %}">Clone</a>
						 <a class="btn btn-mini btn-danger" href="{% url_for 'pcmt-jobs-action', action='delete', id=scenario.id %}">Delete</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<div class="empty-message-container center-parent">
				<div class="centered"><h1 class="empty-message">There are no scenarios. Click on the "New" button to make one.</h1></div>
			</div>
			{% endif %}
			
			
		</div>
		{% if c.page.page_count > 1 %}
		<ul class="pager jobs-pager">
		  <li class="previous pager-link {% if not c.page.previous_page  -%}disabled{%- endif %}">
		  	<a href="{% if c.page.previous_page %}{{ h.url_for('pcmt-jobs', page=c.page.previous_page) }}{% else %}javascript:void(0);{% endif %}">&larr; Page</a>
		  </li>
		  <li class="next pager-link {% if not c.page.next_page  -%}disabled{%- endif %}">
		  	<a href="{% if c.page.next_page %}{{ h.url_for('pcmt-jobs', page=c.page.next_page) }}{% else %}javascript:void(0);{% endif %}">Next &rarr;</a>
		  </li>
		</ul>
		{% endif %}
	</div>
{% endblock %}

{# Clear the secondary block content #}
{% block secondary %}{% endblock %}

{% block scripts %}
	{{ super() }}
	{% resource 'ckanapp_parleys_creek_management/js/jobs.js' %}
{% endblock %}
